.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

/* #background {
  fill: fb-cyan;
} */

#myLabel {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: white;
}

.viewport {
  viewport-fill: fb-black;
}

.heart_icon {
  fill: white;
}

.steps_icon {
  fill: white;
}

#secs {
  transform-origin: bottom;
}

#mins {
  transform-origin: bottom;
}

#hours {
  transform-origin: bottom;
}

.name {
  x:270;
  y:320;
}